[2021-04-20 08:19] mangowda opened #3009 "No available VT tests for vt-type qemu"
Installed avocado & avocado-vt. Bootstrap worked fine but no tests were listed for vt-type qemu.

# avocado list --vt-type qemu --verbose
Type Test                                                                                                                                                                                            Tag(s)
!VT  None: Expected ['-'] got ['Identifier re([A-Za-z0-9][

[2021-04-20 08:20] mangowda commented on #3009
Found the problem. Below commit has introduced this problem:

https://github.com/autotest/tp-qemu/commit/17b1c7b893f2095777200020f6139851ccca1924#diff-887ffcc75868f6e5bbc21ccfc15cfe92ed50f526d510d6f457cafc12f87998fc

[2021-04-20 08:22] mangowda commented on #3009
Below  commit has resolved it.
https://github.com/autotest/tp-qemu/commit/985cb0f9d5806d1e836a1a3867b27eb03bd8fce1#diff-887ffcc75868f6e5bbc21ccfc15cfe92ed50f526d510d6f457cafc12f87998fc

[2021-04-20 08:22] #3009 closed

[2021-04-27 13:12] richtja opened #3028 "[Nrunner] Nrunner for avocado-vt"
This issue tracks the implementation of vt runner to make avocado-vt compatible with avocado nrunner architecture.

- [ ] nrunner prototype created in #2966

[2021-04-27 13:12] richtja opened #3029 "[Nrunner] Virttest enviroment setup"
Many of the vt tests are connected together, and they are reusing the environment from the previous tests. Inside the avocado nrunner every test is run alone and isolated from the other tests. Let's make the environment available to the nruner vt test. This is important for vt nrunner to have same behavior as the vt legacy runner.

This is the part of the effort to make avocado-vt compatible with

[2021-04-27 13:13] richtja opened #3030 "[Nrunner] Parralel run"
In the avocado nrunner is available to run test in parallel. It will be great to have the same ability inside vt nrunner. We have to decide what can be parallelized and how it will be done, because many of the vt tests are designed for serial run.

This is the part of the effort to make avocado-vt compatible with avocado nrunner architecture #3028.

[2021-05-11 03:34] liuyd96 opened #3045 "--vt-extra-params doesn't work"
Hi, all.

I failed to customize a guest by using '--vt-extra-params'.

[2021-05-11 12:12] pevogam opened #3048 "Demote background errors to warnings"
We have many cases where an error like
[code]
either hides an actual error or might happen if some test takes too long (even if within the test timeout). I would suggest that we demote these to warnings or something else that doesn't harm the actual test evaluation.

[2021-05-13 16:54] pevogam commented on #3029
Hi @richtja, for this we should also keep in mind that some settings of Avocado VT allows reusing vms which is more or less in the direction of the env reuse but a step up from it. At least for the case of processes=1 (replacement for the serial runner) we should hopefully check that this behavior holds. Feel free to ping me once there are PR-s regarding the env change so that I could explain more

[2021-05-14 07:51] richtja commented on #3029
@pevogam thanks for your comment, definitely the nrunner with processes=1 have to have all the avocado VT features of the legacy runner. Now I am still working on the bugs in #2966. But when the PR regarding the env change will be ready I will let you know.

[2021-05-31 11:44] mangowda opened #3077 "avocado-plugin-vt-88.0-2 fails to build due to problem in spec file"
Latest change (mentioned below) broke avocado-plugin-vt packaging. We cannot build avocado-plugins-vt binary rpm. Pls see below for the detailed error. Username "Jan Richter" contains "Jan" which also happens to be month name. Hence it complains about bogus date.

# rpmbuild -ba /root/rpmbuild/SPECS/avocado-plugins-vt.spec
warning: bogus date in %changelog: Thu May 24 2021 Jan Richter <jarichte@re

[2021-06-17 02:08] YongxueHong commented on #2822
Hi @ldoktor
Maybe your patch https://github.com/avocado-framework/avocado-vt/pull/2984 does not work, since https://github.com/avocado-framework/avocado-vt/pull/2984#issuecomment-828122188
CC @yanan-fu

[2021-06-21 13:46] pevogam opened #3106 "Logging line breaks broken for next runner + Avocado VT as of fc0ca12bef"
@richtja have you seen something like this recently? I moved from the merge commit for the shiny new VT runner feature to the recent master branches for Avocado+VT but all my line breaks are no longer there:

[code]

[2021-06-21 13:59] richtja commented on #3106
Hi @pevogam thanks for the report, I think I know where is the problem I will send the fix.

[2021-06-21 14:06] pevogam opened #3107 "`TestSkipError` is handled with an ERROR status by the parallel VT runner"
I think currently there is no support for SKIP test statuses so I am adding this issue here to trace progress on this for the future.

Mentioning @richtja, @beraldoleal, @willianrampazzo, @clebergnu just in case anybody creates a duplicate issue or they don't follow up on Avocado VT and as this is probably also a limitation in general Avocado.

[2021-06-21 17:42] pevogam commented on #3106
@richtja I guess this can now be closed and I could report the following in a separate issue but was wondering if it could be related in any way: I am getting some string types written as bytes in the log files (and thus errors out). If I do the following fix on the Avocado side:
[code]
then everything works but for some reason from Avocado VT (here) I am getting a mode with binary flag and a stri

[2021-06-22 07:57] richtja commented on #3106
@pevogam from what you are saying it looks like is related. Can you give me an example, where this is happening, because I am not able to reproduce it.

Also, I hope that these problems will end when we will be using generic messaging in avocado-vt runner, so if you want you can look at [#4699](https://github.com/avocado-framework/avocado/pull/4699) on avocado side, it's about helper messaging met

[2021-06-23 18:34] pevogam commented on #3106
Hi @richtja, from my full use in the last two days I didn't have any further trouble, I guess this could have indeed been fixed by your PR corresponding to this issue. Good job!

[2021-06-24 08:34] #3106 closed

[2021-06-29 07:28] luckyh opened #3114 "Re-enable the travis-ci check"
Since June 15th, 2021, the building on travis-ci.org is ceased. Therefore a migration to travis-ci.com is required if we want to continue the use.

@clebergnu, shall we re-enable the travis-ci check for avocado-vt, or is there any concern about that?

[2021-06-29 07:41] chunfuwen commented on #3114
It sounds like avocado itself is migrated to travis.com, not sure how to migrate it from travis.org to travis.com

[2021-06-29 07:54] luckyh commented on #3114
@chunfuwen yes, I can see that in [this page](https://www.travis-ci.com/organizations/avocado-framework/repositories), and avocado-vt is indeed not migrated yet, so I think it's better to confirm it here.

[2021-06-29 10:33] smitterl opened #3116 "bracketed-paste default breaks tests"
Bash 5.1/libread 8.1 seemingly have opted for enabling 'bracketed-paste' per default. (Refer for example to pexpect issue https://github.com/pexpect/pexpect/issues/669.)
This leads to control sequences being written to aexpects ShellSession.
E.g. for a running libvirt vm:
[code]
Therefore, `cmd_status_output` raises a `ShellStatusError` ("Could not get exit status of command") in https://github.co

[2021-07-02 00:19] chunfuwen commented on #3114
<ana> chunfu, avocado-vt migrated, I just triggered a build for master: https://www.travis-ci.com/github/avocado-framework/avocado-vt

avocado-vt travis CI on travis.com can be triggered now

[2021-07-02 07:16] luckyh commented on #3114
@chunfuwen @ana thank you!

Mark as resolved.

[2021-07-02 07:16] #3114 closed

[2021-07-22 10:46] chunfuwen opened #3148 "netperf version issue"
Issue description:
netperf is somehow used  for execution by tp-libvirt [1] and tp-qemu(I think).
And In avocado-vt, we maintain netperf source under virttest/shared/deps/netperf/netperf-2.6.x.tar.bz2.
But it is subject to changes since it need keep compatible with guest OS version change.
One practical example recently happened in PR[2].
Moreover,  it is better that avocado-vt itself doesn't own

[2021-07-22 10:53] chunfuwen commented on #3148
@luckyh
Just loop you in in case it has some impact on tp-qemu

@kylazhang
@smitterl
@dzhengfy
@chloerh
@Yingshun
@cliping

[2021-07-23 06:14] luckyh commented on #3148
Just FYI, in the age of Autotest, the patching works were usually accomplished by the below way:

1. creates standalone patch files and places them beside tarball
2. applies them before using

For example:
https://github.com/autotest/autotest-client-tests/tree/f35094f28e391b5feea7fc398f618cbb56dc23c5/scsi_testsuite
https://github.com/autotest/autotest-client-tests/blob/f35094f28e391b5feea7fc398f61

[2021-07-30 09:53] chunfuwen commented on #3148
@luckyh ,thanks for your feedback

[2021-08-05 13:48] ana opened #3167 "setup.py / Makefile improvements"
We have done a lot of improvements in the setup.py / Makefile of avocado (ref https://github.com/avocado-framework/avocado/issues/4372) and it'd be great to sync these changes in avocado-vt.

[2021-08-05 15:07] pevogam commented on #3107
I can also confirm no support for WARN test statuses too as well as FAIL, we only get PASS or ERROR so far.

[2021-08-06 13:41] PaulYuuu opened #3169 "Reuse the avocado logger"
This is a continuation of the discussion on https://github.com/avocado-framework/avocado/issues/4797

After https://github.com/avocado-framework/avocado/pull/4787 has been introduced, the VT runner will print excessive outputs.
[code]

I tried to fix it so I add `logging.root = logging.getLogger('avocado')` in loader.py.
[code]

This change works for me, but I am not sure if the change in this pla

[2021-08-09 02:52] luckyh commented on #3169
@PaulYuuu looks good to me for having the monkey patch like this to bypass the issue, and it looks like we can move the fix to `avocado_vt.test.VirtTest.setUp` to limit the effective scope to only VT tests.

[2021-08-09 07:05] pevogam commented on #3169
Hi @PaulYuuu I did a similar patch offline but I read on some forums that it is not recommended to override the root logger in this way since lots of other constructs link to it and make implicit use of it. Nevertheless, it worked as a quick fix to make the UI usable again so I guess we have to consider it as an option.

Regarding the general issue of the recent logging changes, have you checked y

[2021-08-09 09:50] PaulYuuu commented on #3169
Yep, I probably took a look, the `debug.log`/`job.log` looks the same as before I guess, I can get some output I want to see, the vt bootstrap also looks good. Before adding this line, some outputs are duplicated of the debug.log, but after that, everything seems to be normal.

[2021-08-09 09:58] PaulYuuu commented on #3169
@luckyh I have tried it, but this change will lose some messages in `debug.log`/`job.log`, so I think another place that can be modified may be under `VirtTestLoader`. You can see all output was lost during the period from 02:00:54 to 02:16:28.
[code]

[2021-08-10 09:35] ana commented on #3167
A first PR for this https://github.com/avocado-framework/avocado-vt/pull/3173

[2021-08-10 14:13] smitterl commented on #3116
Maybe the solution doesn't lie in changing the code but rather documentation and the jeos builds that are downloaded per default? What do you think, @chunfuwen @dzhengfy @ldoktor ?
The documentation could mention this maybe in a separate section "Providing guests":
"Per default, avocado will download the image [...].
If you want to use a customized image you should keep the following in mind:
1. I

[2021-08-11 20:30] beraldoleal commented on #3169
As pointed by @pevogam already, this is not recommended. You are replacing the root logger and not recovering the original back after the usage.

Seems to me that those lines are produced by `avocado_vt/options.py'  that is logging directly to the root logging.

IIUC, I would recommend something like this:

[code]

Thanks for tagging me here.

[2021-08-16 12:10] PaulYuuu commented on #3169
Hi @beraldoleal , thank you for providing the solution above, and it works for me on my python3.6 environment indeed.

Unfortunately, as I mentioned at #3179, python3.9 will also print excessive output with this change, so I will investigate the differences between python3.6 and python3.9. Anyway, thank you all guys here.

[2021-08-25 13:44] pkamam opened #3194 "when trying to execute test using Custom guest OS, get issue"
Created a custom guest os using the qcow2 image and dropped the cfg in,
avocado-vt/virttest/shared/cfg/guest-os/Linux/LinuxCustom/

# cat avocado_sev_test/avocado-vt/virttest/shared/cfg/guest-os/Linux/LinuxCustom/rhel84.cfg
- rhel84:
    image_name = images/rhel-8.4-x86_64-kvm.qcow2

When trying to execute test using Custom guest OS, get issue as below:
]# avocado run shutdown --vt-guest-os LinuxC

[2021-09-02 07:03] fangge1212 opened #3202 "Command "service" may not exist in some platform"
In platform that doesn't support command "service", test will fail if setup_local_nfs=yes. The code block is:
`
152 class Nfs(object):
153
154     """
155     Nfs class for handle nfs mount and umount. If a local nfs service is
156     required, it will configure a local nfs server according the params.
157     """
158
159     def __init__(self, params):
......
188         elif params.get("setup_l

[2021-09-06 10:07] richtja commented on #3107
Reopening because of problems with status details. See https://github.com/avocado-framework/avocado-vt/pull/3201#issuecomment-912659714

[2021-09-06 12:34] pevogam commented on #3107
Thanks for reopening @richtja, let me know when you need some testing and reviewing regarding this.

[2021-09-07 14:38] clebergnu opened #3210 "Resolver (nrunner) plugin won't resolve multiple references"
For some reason, the following works as intended with the loader:

[code]

But for the resolver only a single (the first) reference is resolved:

[code]

[2021-09-08 09:10] pevogam opened #3213 "Missing screendumps and other important files for VT tests with the new VT runner"
Currently only a simple debug.log could be found in the results folder for each test with lots of previously available files that are useful for debugging now missing:
[code]
The currently available files are:
[code]
Some of the files like screendumps for instance are crucial for debugging unattended install tests.

[2021-09-09 08:52] pevogam commented on #3213
@richtja Just pinging you here for awareness as you seem to track VT runner related features.

[2021-09-09 08:53] pevogam commented on #3213
Oh, I didn't see you self-assigned already ^^

[2021-09-10 02:37] #3210 closed

[2021-09-15 07:33] pevogam opened #3221 "Missing test assertion methods for the new VirtTest type"
VT tests using previously provided assertion methods from the `avocado.core.test.Test` no longer work with errors like
[code]
The reason for this is that the `avocado_vt.plugins.vt_runner.VirtTest` does not inherit from `avocado.core.test.Test` which provides additional assertion methods all tests used to rely on.

A simple change like
[code]
does not resolve the situation due to additional confli

[2021-09-15 07:34] pevogam commented on #3221
@richtja Just in case you don't see this and want to share your opinion.

[2021-09-15 07:46] richtja commented on #3221
@pevogam thanks, for reporting this, me and @clebergnu already working on a solution.

[2021-09-15 16:33] #3107 closed

[2021-09-28 01:33] chunfuwen opened #3235 "Suggest: Tide up some old PRs, which was created back into year 2017 or year 2018"
I observed some PRs were created in 2017 or 2018.
Maybe It is time to review whether we still need them, otherwise we may close them to avoid effort distraction

[2021-09-28 08:44] #3169 closed

[2021-09-29 12:20] pevogam opened #3237 "Near-empty debug.log files for all VT tests"
There is a problem with the new logging approach and the VT tests themselves. And this is something that is probably even higher prio before the LTS release - most test's logging is no longer in the debug.log where it should have been. For instance, an Avocado VT unattended install test would only output messages from the avocado `process` module (and avocado modules in general) to the debug.log:

[2021-09-29 12:58] richtja commented on #3237
Hi @pevogam thanks for reporting this, I tested it, and I am having the same issue.

[2021-09-29 13:50] pevogam commented on #3213
Thanks for the fix @richtja!

[2021-09-29 13:50] #3213 closed

[2021-09-29 13:51] pevogam commented on #3221
Solution is now acceptable.

[2021-09-29 13:51] #3221 closed

[2021-09-29 14:04] pevogam opened #3239 "VT runner customization hook"
This is to specify all the remaining unsolved VT runner problems I encountered migrating from the serial to the parallel runner. They all boil down to the isolated memory space for the VT runner and previous assumptions of shared memory addresses.

1) Using the `env_process` hooks is no longer possible. In the past we could customize pre- and post-processing behaviors by assigning certain hook fun

[2021-09-29 14:10] pevogam commented on #3239
@richtja @clebergnu Tagging you here since this might be a useful summary to you with all remaining problems related to the new test isolation I have collected.

[2021-09-29 19:23] beraldoleal commented on #3237
Hi @pevogam thanks again for your understanding and care with this change.

Indeed we still have some issues to fix here. Basically all utility libraries shouldn't be using the root logger and `virttest/virt_vm.py` is logging directly to the `logging` module.

I have counted > 150 files using logging inside avocado-vt, and I will have to double check each one. I'm willing to send a PR fixing those

[2021-09-29 19:44] pevogam commented on #3237
Hi @beraldoleal and thanks for your time spent on this. Indeed, I expected hundreds of files in the Avocado VT plugin to need this change in a similar manner to what I meant before with hundreds of external tests local to specific users of the framework as well as any potential external library using the root logger. I just hope that embarking on this amount of changes here won't break a lot of po

[2021-09-29 19:47] pevogam commented on #3237
Just FYI, the quick (and agreeably not cleanest) way I have fixed this on our side right now is the following:
[code]
The logging messages from all Avocado VT modules is then restored.

[2021-09-29 20:46] beraldoleal commented on #3237
I see @pevogam. The problem with this approach is that we are going back to the old way. Touching on the root logger is not the way that I would like to go for now. It will bring us other problems as reported before.

So bringing this back to the old way, it could be our last resource at this point. I would vote even postponing the LTS for one more week over that (again, last case plan). And using

[2021-09-29 21:20] pevogam commented on #3237
Completely agreed, I just added the example for a quick and dirty way to visualize what I did for the time being in order to avoid modifying hundreds of files.

I had to use "avocado.test" since "avocado" by itself was not sufficient. But you can try either way first.

Sounds good.

Depending on the time of formatting you use, e.g. using `%` operator with wrong number of arguments could be fatal I

[2021-09-30 19:10] beraldoleal commented on #3237
@pevogam just a follow up: I was fixing some issues with this logging today but still on Avocado side, not here yet.

Also, FIY: we decided to postpone for one more week the release

[2021-09-30 19:13] pevogam commented on #3237
@beraldoleal Thanks for letting me know. I was just checking progress and saw some of your closed PRs today. Let me know when you need help with your final preferred PR-s the next week :+1:

[2021-10-07 20:59] pevogam opened #3246 "Performance regression with new logging and architecture"
Hi all,

Communication with the new VT runner happens significantly slower with 10s delays on small tests and some extreme cases where many times slower where some of our previous tests took ~315 seconds before now take ~3 hours (2.51 hours ~ 150.96 minutes ~ 9056.89 seconds). Some investigation revealed that the order of magnitude delays happen mostly on tests that do a lot of communication, i.e.

[2021-10-08 10:41] smitterl opened #3248 "New vt test backend: no test cases listed though available in subtests.cfg"
I'm trying to add a new vt test backend in the tp-libvirt provider.
Changes in tp-libvirt: https://github.com/autotest/tp-libvirt/compare/master...smitterl:virt_tools?expand=1
Changes in avocado-vt: https://github.com/avocado-framework/avocado-vt/compare/master...smitterl:virt_tools?expand=1

After `avocado vt-bootstrap --vt-type virttools` I see that the test is listed inside of `substests.cfg`:

[2021-10-13 15:17] #3248 closed

[2021-10-15 17:55] beraldoleal opened #3256 "Python3.6 issue when pickling vm data"
**Describe the bug**

tl;dr: Avocado-vt is pickling vm data, however pickle library when using python3.6 is not able to pickle _thread.RLock objects.

`virttest/qemu_vm.py:3093` (and probably other places) is saving into the `self.process` the return of an aexpect execution (more specifically, a `Tail` object). Along with this tail object we used to have a logging function (i.e `<function logging.

[2021-10-19 14:08] pevogam commented on #3237
Hi @richtja and @beraldoleal  there is still the part about external libraries but it is not directly related to this. Should I open a new issue for it? I cannot recall if there was already something noted about it.

[2021-10-20 13:52] beraldoleal commented on #3237
My understanding is that depending on the library. We don't have power over all the third-party libraries that we are using or those that plugins and test writers might be using. So, if this library is just for your tests/plugins inside the Avocado scope, then your changes @pevogam makes sense to me.

However, if we are talking about an "really third-party external" library, then we should not tou

[2021-10-20 15:24] beraldoleal commented on #3237
@pevogam, I just found the message on job.log (I was grepping for "asyncio", but I found "Using selector: EpollSelector"). So I will open an issue on Avocado today after lunch so we can keep investigating there.

[2021-11-11 10:03] pevogam opened #3272 "Object of type Params is not JSON serializable is most recent Avocado"
Test runs with master branch Avocado VT and Avocado results in a fatal error aborting the entire run:

[code]

I am sharing this in case there is interest, possibly has to be fixed before the next Avocado VT release or the VT release won't make sense.

[2021-11-11 13:50] willianrampazzo commented on #3272
Hi @pevogam, do you have a reproducer? I could not reproduce it.

[2021-11-11 18:08] pevogam commented on #3272
This happens in our in-house CI which always fetches the most recent `master` Avocado + Avocado VT, then runs a small selection of tests. It seems the job recording is storing the job.config in new ways that it didn't before (this fails after the LTS release). So I assume all job.config values must be strings?

[2021-11-12 11:04] richtja commented on #3272
Hi @pevogam, we did the changes to the JSON serialization in https://github.com/avocado-framework/avocado/pull/5065/commits/2aaef516ec621ed69814a7ae4e25916a0f619b39 and https://github.com/avocado-framework/avocado/commit/9f1585556e260fef583afa66682c97bc345c5c64 which might cause this problem, but I could not reproduce it either. So if you please give me more info about your test, I will look at it

[2021-11-15 18:02] pevogam commented on #3272
@richtja Thanks for the directions regarding commits. The problem could also be local to me due to patches so I will investigate and let you know. If this turns to be the case I will simply close this issue.

[2021-12-02 14:15] SvetaO opened #3288 "Can't launch io-github-autotest-libvirt tests"
Hello!
I've tried to run avocado-vt with libvirt backend but can't figure out how to do it properly using official documentation. I get such error:
`avocado run --vt-type libvirt  io-github-autotest-libvirt`
Could not resolve references: io-github-autotest-libvirt

Moreover, avocado shows no tests.
`avocado list`
-> empty

Maybe I'm doing something totally wrong, but according to https://avocado-v

[2021-12-08 16:38] pevogam commented on #3272
Hi @richtja, indeed the problem seems to be local to our plugin as we make use of Avocado VT's `Params` class to pass additional dictionary-enhance parameters to our plugin. In particular we produce some job config attributes like `config.run_params` to make use of some VT parameters that are generic for our complete job and not just particular VT tests. I guess I should extend the `ConfigEncoder`

[2021-12-09 13:13] richtja commented on #3272
Hi @pevogam  yes the `ConfigEncoder` is the Encoder for JSON serialization of job data. And unfortunately, there is no configuration option for disabling the jobdata JSON serialization. As a hot fix, you can remove the [serialization](https://github.com/avocado-framework/avocado/blob/master/avocado/core/jobdata.py#L88) in your branch.

[2021-12-09 15:05] pevogam commented on #3272
Indeed, this is exactly what I did yesterday as a quick fix. What do you think should be the long term approach here though? Should we extend the encoders to extend the JSON serialization of all types or should we be able to also disable this procedure? The first brings with itself increased coupling and thus potential breakage (maintenance costs) while the second might not be the best way you ima

[2021-12-10 09:20] richtja commented on #3272
I don't have enough information about your use-case, so I don't know how difficult it will be to extend the JSON serialization, but I think we should stick to the python built-in types. Is there any reason to save`Params.data` to the `config.run_params` instead of `Params`. Because the `ConfigEncoder` supports the dict type.

[2021-12-13 16:52] pevogam opened #3299 "The allow_output_check argument is no longer available for virttest calls"
The recent changes in [beee20f45cbe63b9a6c70a344c1b13097243151d](https://github.com/avocado-framework/avocado/commit/beee20f45cbe63b9a6c70a344c1b13097243151d) caused:
[code]
@beraldoleal How do you think should the virttest side be adapted?

[2021-12-13 21:21] clebergnu commented on #3299
We should have waited for a resolution on https://github.com/avocado-framework/avocado-vt/pull/3295, or, at the very least a compatibility proposal for Avocado-VT.  Anyway, let's now focus on resolving this problem.

The `allow_output_check` parameter for `avocado.utils.process.run()` was primary designed for the `--output-check-record` Avocado feature.  I don't think it's being used in Avocado-VT

[2021-12-14 04:33] clebergnu commented on #3299
So, my best guess is that `allow_output_check='combined'` was being used to:

1) make sure that the logging was 100% accurate with regards to the order in which the process executed would write to stdout and stderr
2) as a simple convenience to have both stdout and stderr content in the `stdout` attribute of the `CmdResult` instance

Examples of commits with hints in the commit message include 1c4

[2021-12-14 05:09] clebergnu commented on #3288
Hi @SvetaO,

Before I go into the documentation or try to reproduce your environment, I'd like to point you out to CI jobs such as:

https://cirrus-ci.com/task/5442522968227840

Which is bootstrapping Avocado-VT with the libvirt backend, and showing tests just fine.  The "test reference" used for those CI jobs is "boot".  Could you try using the same reference (that is, `avocado list --vt-type=lib

[2021-12-14 09:50] pevogam commented on #3299
Thanks for the investigation! Yes, even if this issue was reported too early for having to be resolved, it can still be used to track the particular incompatibility case. We would prefer to have issues for newly detected incompatibilities in a granular fasion rather than accumulating all of them in the shadows and having to differentiate and investigate all at the same time.

[2021-12-14 13:58] richtja commented on #3272
It is strange to me that this problem occurs now after the [avocado-framework/avocado@9f15855](https://github.com/avocado-framework/avocado/commit/9f1585556e260fef583afa66682c97bc345c5c64) because the basic JSON serialization of job `config` is in avocado from [ avocado-framework/avocado@1335f32](https://github.com/avocado-framework/avocado/commit/1335f328754a0635bc54a632bfac616f25bb0615#diff-b310

[2021-12-14 14:29] pevogam commented on #3299
Fixed in #3300.

[2021-12-14 14:29] #3299 closed

[2021-12-14 15:17] beraldoleal commented on #3299
@clebergnu it was faster here. :) Thanks @pevogam for reporting this.

[2021-12-14 19:10] beraldoleal commented on #3272
@richtja @pevogam, configs must be serialized because it was designed not only to save this for 'replay' but also send over external environments during the actual run step.

Yes, this would be a valid option if those parameters are need for the tests. However if this is something needed to change the  plugin behavior I would say the config would be better.

Currently we support any valid data sup

[2021-12-14 19:15] beraldoleal commented on #3272
@pevogam can you test with this, please?

https://github.com/avocado-framework/avocado/pull/5198

[2021-12-15 09:32] pevogam commented on #3272
Sure, thanks a lot @beraldoleal for going the extra mile.

[2021-12-15 18:04] pevogam commented on #3272
Fixed via https://github.com/avocado-framework/avocado/pull/5198.

[2021-12-15 18:04] #3272 closed

[2021-12-30 09:07] #3116 closed

[2022-01-04 09:07] ldoktor commented on #3116
Hello guys, thank you for spotting and addressing this. While reading this I noticed our `strip_console_codes` does not include bracketed-paste yet, could you please review it here? https://github.com/avocado-framework/aexpect/pull/96

[2022-01-11 02:47] luckyh opened #3323 "DeprecationWarning: the imp module is deprecated in favour of importlib and slated for removal in Python 3.12"
Got the following warning with Python 3.10, which led me to open this issue for having the update to the corresponding parts in VT.
[code]

Reference:
https://github.com/avocado-framework/avocado-vt/blob/2a9241a92ae88ddbbd0c306879be0ae94b87aed5/avocado_vt/utils.py#L128-L129
https://docs.python.org/3.10/library/importlib.html?highlight=importlib#module-importlib

[2022-01-13 11:46] ana commented on #3323
@luckyh You might want to do something like this:
https://github.com/avocado-framework/avocado/commit/dfc340f1a0b0aeddbf6699e49e94b75ed080137c

[2022-01-13 11:58] luckyh commented on #3323
@ana thank you for the information!

[2022-01-19 11:25] bgartzi commented on #3323
I can't assign it to myself, but I'll take it.

[2022-01-20 08:22] bgartzi commented on #3323
Hi all,

I had a quick check of the scope of the issue. It seems that there are a total of 10 (6+4) imp+importlib  uses. Generally speaking, they're used for 2 objectives:

1. Importing test cases that are going to be executed in the test loop.
2. Importing some autotest functionalities, which shouldn't be supported in the future (#2963, #3205).

The way of importing modules is quite heterogeneous

[2022-01-24 08:37] christian-intra2net commented on #2062
I have a similar issue: abort_on_error does not work as it should. However, I did not get the message "ERROR: Abort requested (some-reason-here)". Due to an error in my test each test call failed but avocado still continued starting the next test (which, of course, failed again).
I am running with avocado, avocado-plugin-vt and others all v92.0.1 .
The test was started like these args:
['/usr/bin/

[2022-01-24 09:13] pevogam commented on #2062
Just to clarify on this, you mean your VT parameters included `only=my_test abort_on_error=yes`. The  rest of the parameters are part of our plugin so they won't matter hare.

[2022-01-24 09:17] christian-intra2net commented on #2062
Right, sorry. I was uncertain which part was relevant here.

[2022-02-04 07:39] hpaluch-pil opened #3341 "Commit db64d32 breaks CentOS 6.6 unattended install"
The commit db64d32b277ceb9bc01f589f2ba7f7db4d1f8963, especially this part:

https://github.com/avocado-framework/avocado-vt/commit/db64d32b277ceb9bc01f589f2ba7f7db4d1f8963#diff-0e7a91288892b5925c13e11a6047eb91fb7dd34309add1f137c0d9c0b9e3e536R8

[code]

Breaks unattended install  of CentOS 6.6, because it completely erases boot parameters necessary for serial console setup and `ks=cdrom`.

Proposed

[2022-02-08 06:55] luckyh commented on #3323
I'd prefer this option because, from my perspective, the wrapper we're going to introduce is a low-level utility which could be only used by the VT project (or more accurately, the `virttest` package). And I believe if other projects for some reason would want to consume this utility, providing high-level APIs to them instead would be a better choice for us (e.g. `load_test` vs. `import_module`).

[2022-02-10 01:25] chunfuwen opened #3346 "avocado vt-bootstrap report error"
Environment and setup steps:
1.  avocado(92lts) + avocado-vt(master)+tp-libvirt(master)
2. Install specific avocado release in virtualenv: python setup.py install
3. "Install avocado-vt pointing to local tp-libvirt":pip install .
4. "Bootstrap avocado-vt" : avocado vt-bootstrap --vt-type libvirt --vt-no-downloads

detailed error log follow as:
[code]

[2022-02-10 02:43] dzhengfy commented on #3346
@Yingshun @kylazhang @dzhengfy

[2022-02-10 05:29] Yingshun commented on #3346
@chunfuwen Did this command fail? or jut report error?
I'm using master, which works after the test provider(local files) is set up correctly.

My steps:
1. avocado vt-bootstrap --vt-type libvirt --vt-no-downloads -- reports error but bootstrap pass
2. cd /root/avocado/data/avocado-vt/virttest/test-providers.d/; mkdir downloads, cd downloads
3.  ln -s ~/code/tp-libvirt/ io-github-autotest-libvirt

[2022-02-11 06:12] chunfuwen commented on #3346
@clebergnu
Could you anyone from your team take a look at this issue?

[2022-02-14 07:33] dzhengfy commented on #3346
@chunfuwen @clebergnu ,
1. If we bootstrap for the first time, we got above error in this issue description every time which is also displayed in every avocado-vt pr's cirrus-ci, for example [pr 3349](https://github.com/avocado-framework/avocado-vt/pull/3349) , [cirrus-ci job]( https://cirrus-ci.com/task/5210374835273728). So I guess this error is as expected. But it will be appreciated if cleber

[2022-02-14 16:43] bgartzi opened #3351 "About how does the usb_by_params match the configuration"
When working on some usb-related bug I had to check configuration files regarding usb devices, and there was something that it was quite confusing to me.

The base.cfg file sets up the following configuration:
https://github.com/avocado-framework/avocado-vt/blob/d10af686d73b08a9561b353d04eb89dbde0c4c2c/virttest/shared/cfg/base.cfg#L137-L144
Okay, so a usb-tablet device should be attached to the vm

[2022-02-17 01:53] chunfuwen opened #3355 "data_dir.get_data_dir() return /root/avocado/data/avocado-vt on 92lts instead of /var/lib/avocado/data/avocado-vt, it will impact tp-libvirt largely"
Issue description:
1) Compared with avocado 82lts, data_dir.get_data_dir() will return ~/avocado/data/avocado-vt  instead of fixed folder: /var/lib/avocado/data/avocado-vt
2) I can understand this may intended feature, but it does impact tp-libvirt largely
3) In tp-libvirt, we use data_dir.get_data_dir() as base_folder to create image, and attach it into VM
4) The issue is that  permission deny er

[2022-02-17 02:26] chunfuwen commented on #3355
@kylazhang
@dzhengfy
FYI

[2022-02-17 09:39] dzhengfy commented on #3355
@chunfuwen , The error you saw is due to libvirt have no permission to access /root because it is acting as qemu user. So we need to use another directory to storing our image as before. Jil has fixed it by providing customized configuration with our desired data_dir value. So this could be closed now.

[2022-02-17 10:19] chunfuwen commented on #3355
close it since those folder can be dynamically configured in avocado-vt/avocado_vt/conf.d/vt.con

[2022-02-17 10:19] #3355 closed

[2022-02-25 09:43] luckyh commented on #3351
This sounds fairly reasonable to me. After digging into the commit history (https://github.com/avocado-framework/avocado-vt/commit/c847833a1f15085eb6a2bf0a52ed71d58748962f, https://github.com/avocado-framework/avocado-vt/commit/4c5a4f74ce82afd733171907cb2e043ff4be6fc2) I intended to understand the mismatch of the parameter name between the configuration and the script as a mistake, and to me `usb_

[2022-03-09 14:42] clebergnu commented on #3346
Yes, that is expected, and it's really a warning.  Maybe we can turn the exception name or mechanism, but for now I'd just suggest it to be ignored.

Yes, `--vt-no-downloads` option is supposed to prevent *any* download, including any test provider.  Then, one would have to set up the test providers (such as tp-libvirt) on their own.

[2022-03-10 03:38] chunfuwen commented on #3346
[chunfu] Hi clebergnu,
Quote, "Then, one would have to set up the test providers (such as tp-libvirt) on their own" , what it exactly means specifically?
Since in my local environment, I install all from source, so tp-libvirt is already in my local environment.

[2022-03-14 10:45] luckyh opened #3369 "Capturing aexpect log messages"
We used to have the aexpect log messages presented in `debug.log` which help us a lot for debugging automation issues. After the bug [1] had been fixed, however, the aexpect log messages was gone from that file due to it was using the root logger. Now it is still missing although there was already a fix [2] for changing its logging namespace to its own one.

After some investigation I discovered t

[2022-03-14 10:51] luckyh commented on #3369
@pevogam @dzhengfy @kylazhang @chunfuwen I'd like to add you here for you may also be interested in this issue, thanks!

[2022-03-14 13:57] beraldoleal commented on #3369
@luckyh. Yes, indeed. Avocado is only caring about `avocado.*` namespaces.

What about using `avocado.aexpect` as the namespace for the aexpect? Since aexpect is part of Avocado project, I don't see a problem with that.

Would that fix the issue?

[2022-03-14 15:57] beraldoleal commented on #3369
I see your point, but I don't get it as a bad thing. At the end, aexpect is part of avocado, regardless of being used as standalone.

IIUC, basically this is setting 'avocado.extlib.aexpect' in your side, instead of 'avocado.aexpect' by default. What is also acceptable. However...

The question is: Do we need to store all external library log messages? IMO an avocado/avocado-vt user should care ab

[2022-03-14 18:37] pevogam commented on #3369
I am not sure I see your argument here. What is the "part of" supposed to mean more specifically? As I said before aexpect is a standalone application with its own packaging, unit testing, and overall usage. It is a dependency of avocado and it is under the same github umbrella but it is a different and independent tool. The method above generalized over various external and additional dependencie

[2022-03-14 19:42] beraldoleal commented on #3369
Hi @pevogam, thanks for the comments. I guess we are more or less on the same page here, it is just about the default behavior I' m talking about and also because we are talking about two things (aexpect vs others) So, let me try to answer your questions...

"Part of the same umbrella", since it is inside 'avocado-framework' repository. Would be nice from the 'propaganda PoV' to announce "avocado.

[2022-03-14 20:08] pevogam commented on #3369
I see @beraldoleal but I don't quite get where we suggest adding other external libraries here. The above is just a solution to add aexpect and its logging. If nothing else then adding aexpect in such fashion is also suggestive for downstream users about ways in which they can enable logging for their own downstream dependencies if they so desire. In short, the above is an example of a minimal mod

[2022-03-14 20:22] beraldoleal commented on #3369
"In particular for Avocado VT, we have to do this **not just for aexpect but any other external library out there** ..."

Maybe I got something wrong....

This is not tested, and probably it is broken. But the way I imagine this is something like this:

[code]

Please, take it with a grain of salt: this is just a simple version with only one handler (which is not debug.log) and for future implemen

[2022-03-16 02:36] luckyh commented on #3369
@beraldoleal yes, this is indeed a simple way to fix the issue. I just tried with one of the aexpect module (`aexpect.client`) and it worked.

[code]

But, please let me confirm that anyone in the discussion is happy with having this approach, @beraldoleal @pevogam I'd like to know your opinion, thanks!

[2022-03-16 03:37] luckyh commented on #3369
@richtja I ran the following command with the modified `boot` test.
[code]
**tp-qemu**
[code]
With the feature enabled we could see these lines from the debug.log.
[code]

[2022-03-16 04:21] luckyh commented on #3369
@pevogam indeed, it looks better, but my concern is that the third approach was still on the hard-coding way more or less. Also, which is the most important thing from my perspective, I think Avocado should provide a **unified** method (perhaps by introducing some APIs or configurations) for plugins/endpoint-apps to handle the logging stuff rather than let plugins/endpoint-apps implement that by t

[2022-03-16 10:58] luckyh commented on #3369
@beraldoleal this also looks good to me. Just one comment is that I'd suggest introducing Avocado's own logging configuration schema from a high-level point of view instead of directly using the one provided by Python, that's because I think it can:

1. hide the details users don't care about
2. protect the logging settings we don't want users to touch
3. easy to extend if Avocado has the plan to

[2022-03-16 12:34] beraldoleal commented on #3369
Here I guess we disagree a little bit. ;) Why reinvent the well if many python projects uses this scheme (Openstack, django, flask, ...) ?  Any external Python contributor or an user familiar with the python logging system it will be quickly onboard.  IMO this would reduce the learning curve. About your points:

Ideally users don't need to touch on this file. We should ship a default and functiona

[2022-03-21 08:34] luckyh commented on #3369
Well, I would agree with that if we are talking about some developers/maintainers oriented logging implementation, for example  using a code based way just like [Django's](https://docs.djangoproject.com/en/4.0/topics/logging/#examples) could definitely reduce the learning curve for them. However, for users who especially may not familiar with Python's logging facility or even the Python language b

[2022-03-22 10:27] richtja commented on #3369
Thanks, @luckyh, for this information. I found out that in avocado we have an issue with custom loggers and `–store-logging-stream`. I created issue [#5290](https://github.com/avocado-framework/avocado/issues/5290), and I am working on a fix. I will let you know when the fix will be ready.

[2022-03-22 10:41] vducuy opened #3380 "unattended_install ERROR: list index out of range"
I installed fresh Fedora Core 35 on aarch64 and start to install avocado, avocado-vt, bootstrap with Fedora 35 config and kickstart.
but when run following command I got issue: ERROR: list index out of range

[code]

In debug file can see
[code]

I recalled i can run this before, but this time can not run it,  Do i missed something?

[2022-03-22 13:48] samiraguiar opened #3381 "Add support for OpenSSH on Windows"
Is there any plans to add support for the official port of OpenSSH for Windows?
https://github.com/PowerShell/Win32-OpenSSH

It can possibly replace rss.exe altogether and provide a more unified interface for remote connections. It also has benefits over rss.exe as it provides a full shell experience with support for line buffering and editing of typed characters.

I quickly tested and right now t

[2022-03-23 06:57] pevogam commented on #3381
Very good idea, @luckyh do we know of maintainers on our side that do any sort of support for the various Windows components and vms in Avocado VT?

[2022-03-23 18:36] clebergnu commented on #1357
Hi @KevinWhalen ,

Avocado-VT is on a different module, named `avocado-vt`.  But that is indeed missing in the documentation.  Thanks for spotting that.

[2022-03-24 05:32] vducuy commented on #3380
after checked on my system and see qemu_vm can not get list of Port redirections
[code]
utils_misc.find_free_port() return empty, the reason is socket error with code 97

[2022-03-25 02:12] vducuy commented on #3380
The problem found, removed ipv6.disable=1 in grub.cfg

[2022-03-25 11:27] luckyh commented on #3381
@pevogam I can take a look at this issue. However I don't know about the workflow of updating the `winutils.iso` image, maybe you can ask the ones who modified the file below in the past?

https://github.com/avocado-framework/avocado-vt/blame/master/virttest/shared/downloads/winutils.ini

[2022-03-25 11:36] luckyh commented on #3381
The proposal sounds very reasonable to me, and next I think we can do some check on this tool to get know about its performability, reliability, scalability and etc..

[2022-03-29 14:20] #3369 closed

[2022-03-31 03:44] pevogam commented on #3369
@luckyh Can you confirm if this resolves your issue? I am just curious if this was all the changes it needed.

[2022-03-31 10:14] luckyh commented on #3369
Yes, I have tested the fix and it worked as expected (https://github.com/avocado-framework/avocado/pull/5292#issuecomment-1080305777), so here I think we are choosing the first approach given in the [desciption](https://github.com/avocado-framework/avocado-vt/issues/3369#issue-1168195060).

One thing I'm not sure is if the logging configuration which was mentioned in previous comments is something

[2022-03-31 11:08] richtja commented on #3369
@pevogam and @luckyh  there is an [issue](https://github.com/avocado-framework/avocado/issues/5178) on avocado which tracks the  logging configuration.

[2022-04-01 02:41] luckyh commented on #3369
@richtja that's great, thanks!

[2022-04-06 09:50] smitterl opened #3391 "Can't load avocado-vt modules into python console because vt_init fails"
With the latest master today (avocado 94.0) I can't load avocado-vt modules into python3 session.
I tried using avocado 92lts and 82lts but this issue reproduces.

[code]

[2022-04-06 10:19] chunfuwen commented on #3391
virttest/utils_logfile.py and virttest/utils_misc.py duplicate the same code : def log_line(filename, line) implementation. I try import log_line from virttest/utils_logfile.py in the file virttest/ip_sniffing.py, the issue can be fixed

[2022-04-06 10:40] chunfuwen commented on #3391
https://github.com/avocado-framework/avocado-vt/pull/3392

[2022-04-07 02:38] pevogam commented on #3369
I see, looking at the PR fixing this it seems that it was meant to work only with additional `--store-logging-stream` arguments. Will bring some of my further concerns there.

[2022-04-07 05:30] #3351 closed

[2022-06-20 05:31] pevogam opened #3429 "Outdated floppy device"
It seems that some of the newest Qemu versions (here tested 6.1.0) have problem installing Windows machines or in general running unattended install tests with floppy drives:
[code]
Background might be the following deprecation:

https://www.mail-archive.com/qemu-block@nongnu.org/msg68098.html

Looking at the Avocado VT source code, I can find these floppy bus classes (`QFloppyBus` and and even ol

[2022-06-24 09:52] PaulYuuu commented on #3429
@pevogam, good point. Actually I never test floppy devices, but if it was introduced very early, I think we can re-design this part directly. Replace it to use `QPCIBus` should not a big task.

[2022-06-28 02:07] pevogam commented on #3429
I guess what is a bit more elaborate is to keep backward compatibility with older Qemu versions too, not sure what is the current Qemu version that most Avocado VT members are using.

[2022-06-28 04:02] luckyh commented on #3429
It seems to be easy to support both together with the *capabilities* utility. Let me take the command line expression of virtual block devices as an example, legacy qemu would use `-drive` to represent image files while modern qemu would use `-blockdev` instead, therefore we had the following code snippets to probe the capability and choose the most appropriate expression to format the command lin

[2022-07-02 15:24] nhanldtn opened #3446 "vcpu hotplug not supported but test case 'stress_cpuhotplug' still pass"
Hi,

I got an issue when running the test case `without_hoststress.stress_cpuhotplug`
vcpu-hotplug not supported on my system but test case still passed

Test result
[code]

Debug log
[code]

[2022-07-13 14:25] clebergnu opened #3457 "Listing tests issue in Cirrus CI with latest Avocado"
As it can be seen in [this Cirrus CI job](https://cirrus-ci.com/task/6396304547905536?logs=list#L8):

[code]

It fails to produce a list of the 'boot' test(s), with a very weird message that at first sight, should only be given while attempting to run an `avocado-vt` test (and not during resolution).

[2022-07-14 18:46] clebergnu opened #3462 "Document the Avocado-VT release process"
The release of new Avocado-VT versions have changed since version 94.0 and PR https://github.com/avocado-framework/avocado-vt/pull/3295.

Also, with #3458, a freeze of the test providers (tp-qemu and tp-libvirt) used on CI have been introduced.

But, we are still missing a formal documentation of the release rules and overall steps, including:
* Which versions of the test providers would be used
*

[2022-08-01 02:50] chunfuwen opened #3476 "avocado-vt travis Ci failed on python 3.6"
one failed example is mentioned here [1] .
Some initial analysis follow as:
1)it create one folder to hold up avocado repository(/usr/bin/git config --global --add safe.directory /home/runner/work/avocado-vt/avocado-vt/avocado-libs)
2) then download repository: https://github.com/avocado-framework/avocado, and attempt to install by setup.py
3)error happen when install required packages[setuptools]

[2022-08-01 03:19] chunfuwen commented on #3476
https://github.com/avocado-framework/avocado-vt/pull/3477/files

The fix may help fix this issue

[2022-08-03 04:45] dzhengfy opened #3481 "OVMF guest stays at boot system in BIOS when starting"
When we use OVMF guest (`<os firmware='efi'>`) by default in RHEL 9.1, some auto cases happens to vm start time out error. The reason is that there are some steps as below in our test scripts:

_```
virsh undefine guest
edit guest xml
virsh define guest
virsh start guest
[code]

[2022-08-03 04:49] dzhengfy commented on #3481
@chunfuwen @yalzhang @chloerh @Yingshun , welcome to input your findings or comments.

[2022-08-03 09:38] yalzhang commented on #3481
https://github.com/avocado-framework/avocado-vt/pull/3482   fix this issue

[2022-10-21 11:15] pevogam opened #3546 "Various commands in QemuImg class do not container protection again space containing paths"
As originally mentioned in https://github.com/avocado-framework/avocado-vt/pull/3521#discussion_r974909451 there is a common problem of all commands in the fact that they won't handle paths containing spaces. The idea is to track the common limitation here as an issue and propose a pull request to follow it.

[2022-10-27 10:39] bssrikanth opened #3555 "booting more number of guests results in filedescriptor out of range in select error"
I am trying to boot > 100 guests with tp-qemu boot test on RHEL server, but observing avocado-vt is failing to create qemu_monitor after ~67 guest boots with below trace. Appreciate any pointers on resolving this issue.

PS: On RHEL host I have taken care of increasing `ulimit -n` and below issue seems not to be related to limits on host as it points to select().

[code]

[2022-10-28 06:11] bssrikanth commented on #3555
Update: I am hitting this issue independent of test runner I use. As per my investigation this issue is due to usage of `select.select()`, which is not scalable, instead the recommendation which I understand is to use `select.poll()`. I currently see at many places avocado as well as avocado-vt using `select.select()` calls. Should current code be updated to use `select.poll()` ? appreciate any in

[2022-11-09 12:10] spottbat opened #3560 "[Errno 24] Too many open files: '/tmp/aexpect_R4ScLlsr/lock-server-running'"
I am running 40VM and inside each VM I am running small test for 300 secs after in between the test I am getting this error.
I have to tried to increase ulimit -n but that does not help me.
This issue occurred always when I use more than 25VMs , for 20VMs it is running well.
I am launching all VMs on thread.
Appreciate any pointers on resolving this issue.

[stderr] Exception in thread
[stderr] Th

[2022-11-21 15:10] nluu-ampere opened #3565 "utils_sriov.get_pf_info() cannot get iface name due to prefix '0000:'"
Hi,
 I got the issue with this code when run sriov test!
[code]

This code work when command "lspci |awk '/Ethernet/ {print $1}'" return pcie bus with short format like `02:00.0 Ethernet ...` mean  domain numbers are omitted since they are all equal to zero!
but, on my system return output with the domain numbers are highlighted.
eg:
[code]
I suggest using `-D` in command `lspci` and remove prefix